body {
	font-family: Arial;
	font-size: small;
	font-weight: lighter;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#footer ul {
	margin-left: 30px;
	margin-right: 30px;
}

li {
	display: inline-block;
	margin-right: 5px;
}

li img {
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

#nav {
	float: right;
	margin-right: 10px;
}

#photo img{
	width: 32px;
	height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: 50%;
}

#content {
	clear: both;
	padding-top: 100px;
	padding-bottom: 150px;
	text-align: center;
}

#logo {
	display: block;
	height: 95px;
	width: 269px;
	margin: 0 auto;
}

#searchform input{
	width: 550px;
	height: 20px;	
	display: block;
	margin: 20px auto 10px auto;
}

#footer {
	position: fixed;
	z-index: 1;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: white;
}

#l_foot {
	float: left;
}

#r_foot {
	float: right;
}
